# Ambientes Virtuais (MUITO IMPORTANTE)
.venv/
venv/
env/

# Variáveis de Ambiente e Segredos
.env

# Documentos e Arquivos Gerados
TCC-1.docx
*.pdf

# Arquivos compilados do Python e Cache de Testes
__pycache__/
*.pyc
.pytest_cache/
node_modules/